ignore-workspace-root-check=true
shell-emulator=true
@14kay:registry=https://npm.pkg.github.com

registry=https://registry.npmjs.org/
//registry.npmjs.org/:always-auth=true
//registry.npmjs.org/:_authToken=${NPM_TOKEN}
